* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #83dbf1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #7daff1;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #f594c5;
    border-radius: 5px;
    font-size: 14px;
}

.login-form input:focus {
    border-color: #9dfadb;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0004ff;
    color: rgb(38, 0, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #00ffff;
    /
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.edit-btn,
.delete-btn {
    width: 48%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #7152f8;
}

.delete-btn:hover {
    background-color: #b73cff;
}